nav{
    display: flex;
    height: 2em;
    justify-content: flex-start;
    align-items: center;
    background-color: lightblue;
    color: white;
    font-family: calibri;
    padding: 10px;
}

.button div{
    font-family: calibri;
    display: flex;
    justify-content: center;
}

.flexbox{
    font-family: calibri;
    display: flex;
    justify-content: center;
    height: 8em;
    background-color: lightgray;
 }

 .boxes{
     display: flex;
     height: 10em;
       
 }

 .boxes div{
     font-family: calibri;
     text-align: justify;
     text-justify: inter-word;
     padding: 50px;    
 }