nav{
    display: flex;
    height: 2em;
    justify-content: flex-start;
  
    background-color: black;
    color: white;
}

.box{
    display: flex;
    height: 8em;
    justify-content: space-around;
    align-items: center;
    background-color: tan;
}

