nav{
    display: flex;
    height: 3em;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    font-family: calibri;
    padding: 10px;
}

.btn-group{
    float: right;
    font: 15px calibri;
    
}

.flexbox{
    font-family: calibri;
    display: flex;
    justify-content: center;
    padding: 1em;
    height: 8em;
    background-color: grey;
    color: white;
 }

 .boxes{
     display: flex;
     height: 10em;
       
 }

 .boxes div{
     font-family: calibri;
     text-align: justify;
     text-justify: inter-word;
     padding: 50px;    
 }

 .large{
     flex: 2;  
    
 }

 .two{
     flex: 1;
 }
